    .right-half {
        flex: 1;                   /* 50% width of the parent div */
        background-color: lightcoral;
        display: flex;
        justify-content: center;   /* Center content horizontally */
        align-items: center;          /* Center content vertically */
    }
  .container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  .left-half { 
    flex: 1;                   /* 50% width of the parent div */
    background-color: lightblue;
    display: flex;
    justify-content: center;   /* Center content horizontally */
    align-items: center;    
  }